body {
    font-family: 'Open Sans', sans-serif;
}

    /*Calendar styles*/

.calendar-header {
    text-align: right;
    padding: 4px!important;
    border-bottom: none!important;
}

.calendar-data {
    cursor: pointer;
    width: 14.2857143%;
    height: 100px;
    font-size: 14px;
    font-weight: 600;
    transition: 0.4s;
}

.calendar-data:hover  {
    background-color: #f5f5f5;
}

.calendar-days {
    width: 100%;
    text-align: right;
}

.calendar-events {
    border-radius: 5px;
    text-align: center;
    background-color: #FFE4E1;
    margin-top: 20%;
}

.today {
    color: #FFF;
    padding: 2px 4px 3px 5px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #FF4500;
    border-radius: 15px;
}

.different-month {
    color: #B8B8B8;
    cursor: default;
}

.weekend {
    background-color: #FAFAD2;
}

.weekend:hover {
    background-color: #EEE8AA;
}

    /*Small desktop calendar styles*/

@media only screen and (max-width:767px) {
    .calendar-data {
        height: 80px;
        font-size: 12px;
        font-weight: 400;
    }
    
    .calendar-events {
        margin-top: 10%;
    }
    
    
}

@media only screen and (max-width:480px) {
    .calendar-data {
        height: 60px;
        font-size: 10px;
        font-weight: 400;
    }
    
    .calendar-events {
        /*margin-top: 0px;*/
         font-size: 12px;
        font-weight: 700;
        border-radius: 140px;
        margin-right: 20%;
        margin-left: 20%;
    }
    
    .event-sign {
        display: none;
    }
}




    /*Event div*/

.event-back {
    font-size: 20px;
    color: #696969;
}

.event-back:hover {
    cursor: pointer;
    color: black;
}

.event-add {
    float: right;
    font-size: 20px;
    color: #696969;
}

.event-add:hover {
    cursor: pointer;
    color: black;
}

.grid-time {
    text-align: right;
}


.grid-data {
    height: 50px;
    margin-bottom: 0px;
    
}

.data-event:hover {
    cursor: pointer;
    background-color: beige;
}

.full-day-event {
    background-color: floralwhite;
}

.edit-event-back {
    margin-bottom: 15px;
}

@media only screen and (max-width:480px) {
    .data-event {
        padding: 4px;
        font-size: 12px;
    }
}


/* Animations */
.ng-hide-add         { animation:0.6s fadeOutUpBig ease; }

.ng-hide-remove      { animation:1s fadeInUpBig ease; }


@-webkit-keyframes fadeOutUpBig {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
}

@keyframes fadeOutUpBig {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
}

.fadeOutUpBig {
  -webkit-animation-name: fadeOutUpBig;
  animation-name: fadeOutUpBig;
}


@-webkit-keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
}
