<!doctype html>
<html ng-app="calendarApp">
<head>
    <title>Calendar App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>

<body ng-controller="CalendarController">
   
   
    <div class="container app-header"><h2>Calendar Application</h2></div>
    
    
    <!-- Календарь -->
    
    <div class="container calendar" ng-show="showCalendar">
   
        <h3 id="calendar-header">
            <strong>{{month.format("MMMM");}}</strong> {{month.format("YYYY");}}
        </h3>
    
        <table class="table calendar-table .table-condensed">
            <thead class="calendar-header">
                <tr>
                    <th class="calendar-header">Mon</th>
                    <th class="calendar-header">Tue</th>
                    <th class="calendar-header">Wed</th>
                    <th class="calendar-header">Thu</th>
                    <th class="calendar-header">Fri</th>
                    <th class="calendar-header">Sat</th>
                    <th class="calendar-header">Sun</th>
                </tr>
            </thead>
            <tbody class="table-body">
                <tr ng-repeat="week in weeks" >
                    <td class="calendar-data" ng-class="{ weekend: day.isWeekend, 'different-month': !day.isCurrentMonth }" ng-repeat="day in week.days" ng-click="$parent.$parent.select(day)">
                        <div class="calendar-days" >
                            <span ng-class="{ today: day.isToday }">{{day.number}}</span>
                        </div>
                        <div class="calendar-events" ng-show="day.events.length > 0">
                            <span class="event-sign">events:</span> {{day.events.length}}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
    <!--  Конец календаря  -->
    
    
    
    
    
    <!--Блок событий дня-->
    <div class="container event-page" ng-show="showEventsPage">
       
        <div class="event-header">
           
            <span class="event-back" ng-click="backToCalendar()">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>{{month.format("MMMM");}}
            </span>
            
            <span class="event-add" ng-click="addNewEvent()">
                Add event
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </span>
        </div>
       
       
        <div class="event-grid text-center">
            <h3 class="pull-center">{{eventHeader}}</h3>
            <h5 ng-show="thereIsNoEvents">There is no events yet</h5>
            
           <!--Сетка времени-->
            <div class="col-xs-2 grid-time" ng-hide="thereIsNoEvents">
              
               <p class="grid-data">all-day</p>
               <p class="grid-data" ng-repeat="hour in gridHours">{{hour}}:00</p>
               
            </div>
            
            <!--Сетка событий-->
            <div class="col-xs-10"  ng-hide="thereIsNoEvents">
                <table class="table grid-events">
                   
                    <!--Событие на целый день-->
                    <tr><td class="grid-data data-event full-day-event" ng-click="eventsDetails(selectedDay.events[selectedDay.fullDayEventIndex])"><div ng-show="selectedDay.thereIsFullDayEvent"><p>{{selectedDay.events[selectedDay.fullDayEventIndex].title}}</p></div></td></tr>
                    
                    <!-- Повтор событий по часам-->
                    <tr ng-repeat="hour in gridHours" ng-click="eventsDetails(hour)"><td class="grid-data data-event">
                    <div class="event-data" ng-show="$parent.getEvents(hour).length === 1">
                    <p><span>{{$parent.selectedDay.events[$parent.getEvents(hour)[0].index].time}}</span> Title: {{$parent.selectedDay.events[$parent.getEvents(hour)[0].index].title}}</p>
                    </div>
                    <div class="event-data" ng-show="$parent.getEvents(hour).length > 1"><p>Events: {{$parent.getEvents(hour).length}}</p></div>
                    </td></tr>
                    
                    
                </table>
            </div>
            
        </div>
        
    </div>
<!--  Конец блока событий  -->
    
    
    
    
    
    
    <!-- Форма добавления нового события -->
    <div class="container new-event" ng-show="showNewEventPage">
      <h3>{{eventHeader}}</h3>
      <span class="event-back" ng-click="newEventCancel()">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Back
      </span>
      <p ng-show="dateIsBeforeCurrentDay">You can't create an event on the previous day</p>
       
      <div ng-hide="dateIsBeforeCurrentDay">
        <form name="newEventForm" ng-submit="newFormSubmit()" novalidate>
            
            <!-- Title -->
            <div class="form-group" ng-class="{ 'has-error' : newEventForm.title.$invalid && newEventForm.title.$dirty }">
                <label>Title</label>
                <input type="text" name="title" class="form-control" ng-model="newEvent.title" ng-maxlength="35" required>
                <p ng-show="newEventForm.title.$invalid " class="help-block">Title is required.</p>
                <p ng-show="newEventForm.title.$error.maxlength" class="help-block">Title is too long.</p>
            </div>
            
            <!-- Description -->
            <div class="form-group" ng-class="{ 'has-error' : newEventForm.description.$invalid && !newEventForm.description.$pristine }">
                <label>Description</label>
                <input type="text" name="description" class="form-control" ng-model="newEvent.description" ng-minlength="5" ng-maxlength="117">
                <p ng-show="newEventForm.description.$error.minlength" class="help-block">Description is too short</p>
                <p ng-show="newEventForm.description.$error.maxlength" class="help-block">Description is too long</p>
            </div>
            
            <!-- Full day check box -->
            <div class="form-group">
               <p ng-show="selectedDay.thereIsFullDayEvent">You're already have all-day event</p>
                <p ng-hide="selectedDay.thereIsFullDayEvent"><input type="checkbox" ng-model="newEvent.fullDay">Full day</p>
            </div>
            
            <!-- Time -->
            <div class="form-group" ng-hide="newEvent.fullDay">
               <!-- Angular UI bootstrap timepicker -->
                <uib-timepicker ng-model="newEvent.time" show-meridian="false"></uib-timepicker>
            </div>
            
            <!-- Submit -->
            <button type="submit" class="btn btn-default" ng-disabled="newEventForm.$invalid">Submit</button>
            
            <!-- Cancel -->
            <button type="button" class="btn btn-default" ng-click="newEventCancel()">Cancel</button>
            
        </form>
      </div>
    </div>
    <!-- Конец формы добавления нового события -->

    
    
    
    <!--  Форма описания и редактирования событий на целый день -->
    
    <div class="container full-day-details" ng-show="showFullDayEditPage">
        <span class="event-back edit-event-back" ng-click="fullDayEditPageBack()">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Back
        </span>
        <div class="event-description">
            <label>Title:</label>
            <p>{{selectedDay.events[selectedDay.fullDayEventIndex].title}}</p>
            
            <label>Description:</label>
            <p>{{selectedDay.events[selectedDay.fullDayEventIndex].description}}</p>
                
        </div>
        <h4>Edit:</h4>
        <div ng-hide="selectedDay.events[selectedDay.fullDayEventIndex].international"> 
        <form name="fullDayForm" ng-submit="fullDayEventSubmit(selectedDay.events[selectedDay.fullDayEventIndex])" novalidate>
           
            <!-- Title -->
            <div class="form-group" ng-class="{ 'has-error' : fullDayForm.title.$invalid && fullDayForm.title.$dirty }">
                <label>title</label>
                <input type="text" name="title" class="form-control" ng-model="selectedDay.events[selectedDay.fullDayEventIndex].title" ng-maxlength="35" required>
                <p ng-show="fullDayForm.title.$invalid " class="help-block">Title is required.</p>
                <p ng-show="fullDayForm.title.$error.maxlength" class="help-block">Title is too long.</p>
            </div>
            
            <!-- Description -->
            <div class="form-group" ng-class="{ 'has-error' : fullDayForm.description.$invalid && fullDayForm.description.$dirty }">
                <label>Description</label>
                <input type="text" name="title" class="form-control" ng-model="selectedDay.events[selectedDay.fullDayEventIndex].description" ng-maxlength="117" ng-minlength="5">
                <p ng-show="fullDayForm.description.$invalid " class="help-block">Title is required.</p>
                <p ng-show="fullDayForm.description.$error.maxlength" class="help-block">Title is too long.</p>
            </div>
            
            <!-- Submit -->
            <button type="submit" class="btn btn-default" ng-disabled="fullDayForm.$invalid">Submit</button>
            
            <!-- Delete -->
            <button type="button" class="btn btn-default" ng-click="fullDayEventDelete()">Delete event</button>
            
        </form>
        </div>
        <p ng-show="selectedDay.events[selectedDay.fullDayEventIndex].international">You can't edit international events</p>
        
    </div>
    
    <!--  Конец формы описания и редактирования событий на целый день -->
    
    
    

    
    <!--  Форма описания и редактирования кратковременных событий -->
    
    <div class="container events-details" ng-show="showEditPage">
        <span class="event-back edit-event-back" ng-click="editPageBack()">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Back
        </span>
        
        <div class="event-edit" ng-repeat="event in eventsToOpen" >
          
            <div class="event-description" ng-hide="event.editForm">
                <label>Title:</label>
                <p>{{$parent.selectedDay.events[event.index].title}}</p>
            
                <label>Description:</label>
                <p>{{$parent.selectedDay.events[event.index].description}}</p>
                
                <label>Time:</label>
                <p>{{$parent.selectedDay.events[event.index].time}}</p>
                
                <button class="btn btn-default" ng-click="editEvent(event)">Edit event</button>
            </div>
              
           <form name="eventDetailsForm" ng-submit="editSubmit($parent.selectedDay.events[event.index], event.globalIndex)" ng-show="event.editForm" novalidate >
              
               <!-- Title -->
            <div class="form-group" ng-class="{ 'has-error' : eventDetailsForm.title.$invalid && eventDetailsForm.title.$dirty }">
                    <label>Title</label>
                    <input type="text" name="title" class="form-control" ng-model="$parent.selectedDay.events[event.index].title" ng-maxlength="35" required>
                    <p ng-show="eventDetailsForm.title.$invalid " class="help-block">Title is required.</p>
                    <p ng-show="eventDetailsForm.title.$error.maxlength" class="help-block">Title is too long.</p>
                </div>
                
                <!-- Description -->
                <div class="form-group" ng-class="{ 'has-error' : eventDetailsForm.description.$invalid && !eventDetailsForm.description.$pristine }">
                    <label>Description</label>
                    <input type="text" name="description" class="form-control" ng-model="$parent.selectedDay.events[event.index].description" ng-minlength="5" ng-maxlength="117">
                    <p ng-show="eventDetailsForm.description.$error.minlength" class="help-block">Description is too short</p>
                    <p ng-show="eventDetailsForm.description.$error.maxlength" class="help-block">Description is too long</p>
                 </div>
                
                
                <!-- Time -->
                <div class="form-group" ng-hide="$parent.selectedDay.events[event.index].fullDay">
                    
                    <!-- Angular UI bootstrap timepicker -->
                    <uib-timepicker ng-model="$parent.selectedDay.events[event.index].dateTime" show-meridian="false"></uib-timepicker>
                </div>
                 
                 <!-- Submit -->
                <button type="submit" class="btn btn-default" ng-disabled="eventDetailsForm.$invalid">Submit</button>
                
                <!-- Delete -->
                <button type="button" class="btn btn-default" ng-click="deleteEvent(event.globalIndex)">Delete event</button>
                
                
               </form>
               
               <hr>
            </div>
               
    </div> 

<script src="js/lib/moment.min.js"></script>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/angular-animate.min.js"></script>
<script src="js/lib/ui-bootstrap-tpls-0.14.3.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>